
@media only screen and (min-width: 768px){
	html, body {
		height: 100%;
	}
	
	h1{
		font-size: 350%;
	}

	h1, p {
		text-align: center;
	}
	
	#buttons {    
		text-align: center;
		margin-bottom: 15px;
	}

	#content {
		height: 100%;
		width: 50%;
		margin: auto;
	}

	#deleteMarkButton {
		disabled: 'disabled'
	}

	#map {
		height: 60%;
		width: 100%;
		margin: auto;
		border-style: solid;
		border-color: darkblue;
		border-width: 2px;
	}
  
	#author {
		font-size: 110%;
	}
}
